@page "/project/create"
@using OlympusBugTracker.Client.Helpers
@rendermode InteractiveServer

@inject IProjectDTOService ProjectService



<PageTitle>BugTracker | Project | Create</PageTitle>



<div my-5>

    <ProjectForm Project="new ProjectDTO()" OnSubmit="HandleSubmit" />

</div>




@code {

    #region parameters

    [CascadingParameter]
    public Task<AuthenticationState>? AuthStateTask { get; set; }

    #endregion


    #region state

    private UserInfo? userInfo;

    #endregion


    #region methods

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    private async Task HandleSubmit(ProjectDTO project)
    {
        try
        {
            await ProjectService.AddProjectAsync(project, userInfo!.CompanyId);
    }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    #endregion

}
