@page "/project/create"
@rendermode InteractiveAuto
@attribute [Authorize(Roles = "Admin, ProjectManager")]

@using Microsoft.AspNetCore.Authorization
@using OlympusBugTracker.Client.Helpers

@inject IProjectDTOService ProjectService
@inject ICompanyDTOService CompanyService
@inject NavigationManager Nav



<PageTitle>BugTracker | Create a Project</PageTitle>



<div my-5>

    <ProjectForm Project="new ProjectDTO()" OnSubmit="HandleSubmit" />

</div>




@code {

    #region parameters

    [CascadingParameter]
    public Task<AuthenticationState>? AuthStateTask { get; set; }

    #endregion


    #region state

    private UserInfo? userInfo;

    #endregion


    #region methods

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

            if (userInfo is null) Nav.NavigateTo("/Account/Login");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    private async Task HandleSubmit(ProjectDTO project)
    {
        try
        {
            ProjectDTO projectAdded = await ProjectService.AddProjectAsync(project, userInfo!.CompanyId);

            if (userInfo.Roles.Contains("ProjectManager"))
            {
                await ProjectService.AssignProjectManagerAsync(projectAdded.Id, userInfo!.UserId, userInfo!.UserId);
            }

            Nav.NavigateTo($"project/{projectAdded.Id}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    #endregion

}
