@page "/project/edit/{id:int}"
@rendermode InteractiveAuto
@attribute [Authorize(Roles = "Admin, ProjectManager")]

@using Microsoft.AspNetCore.Authorization
@using OlympusBugTracker.Client.Helpers

@inject IProjectDTOService ProjectService
@inject NavigationManager Nav



<PageTitle>BugTracker | Edit a Project</PageTitle>



<div my-5>

    <ProjectForm Project="project" OnSubmit="HandleSubmit" />

</div>




@code {

    #region parameters

    [CascadingParameter]
    public Task<AuthenticationState>? AuthStateTask { get; set; }

    [Parameter]
    public int Id { get; set; }

    #endregion


    #region state

    private UserInfo? userInfo;

    private ProjectDTO? project;

    #endregion


    #region methods

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

            if (userInfo is null) Nav.NavigateTo("/Account/Login");

            project = await ProjectService.GetProjectByIdAsync(Id, userInfo!.CompanyId);

            if (project is null)
            {
                Nav.NavigateTo("/projects");
            }

            if (userInfo.Roles.Contains("ProjectManager"))
            {
                if (!project!.Users.Any(u => u.Id == userInfo!.UserId)) Nav.NavigateTo("/projects");
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }

    }

    private async Task HandleSubmit(ProjectDTO project)
    {
        try
        {
            await ProjectService.UpdateProjectAsync(project, userInfo!.CompanyId);

            Nav.NavigateTo("/projects");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    #endregion

}