@page "/project/edit/{id:int}"
@using OlympusBugTracker.Client.Helpers
@rendermode InteractiveAuto

@inject IProjectDTOService ProjectService
@inject NavigationManager Nav



<PageTitle>BugTracker | Edit a Project</PageTitle>



<div my-5>

    <ProjectForm Project="project" OnSubmit="HandleSubmit" />

</div>




@code {

    #region parameters

    [CascadingParameter]
    public Task<AuthenticationState>? AuthStateTask { get; set; }

    [Parameter]
    public int Id { get; set; }

    #endregion


    #region state

    private UserInfo? userInfo;

    private ProjectDTO? project;

    #endregion


    #region methods

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

            project = await ProjectService.GetProjectByIdAsync(Id, userInfo!.CompanyId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }

        if (project is null)
        {
            Nav.NavigateTo("/projects");
        }
    }

    private async Task HandleSubmit(ProjectDTO project)
    {
        try
        {
            await ProjectService.UpdateProjectAsync(project, userInfo!.CompanyId);

            Nav.NavigateTo("/projects");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    #endregion

}