@page "/ticket/edit/{id:int}"
@rendermode InteractiveAuto
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using OlympusBugTracker.Client.Components.UI.Ticket
@using OlympusBugTracker.Client.Helpers

@inject ITicketDTOService TicketService
@inject IProjectDTOService ProjectService
@inject NavigationManager Nav


<PageTitle>Bug Tracker | Edit a Ticket</PageTitle>


<AuthorizeView>

    @if (context.User.IsInRole("Admin") || userInfo?.UserId == projectManager?.Id || userInfo?.UserId == ticket?.SubmitterUserId || userInfo?.UserId == ticket?.DeveloperUserId)
    {

        <div>

            <TicketForm Ticket="ticket" OnSubmit="HandleSubmit" Projects="projects" />

        </div>

    }

</AuthorizeView>







@code {

    #region parameters

    [CascadingParameter]
    Task<AuthenticationState>? AuthStateTask { get; set; }

    [Parameter]
    public int Id { get; set; }

    #endregion


    #region state

    private UserInfo? userInfo;

    private TicketDTO? ticket;

    private IEnumerable<ProjectDTO>? projects;

    private UserDTO? projectManager;

    #endregion


    #region methods

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

            if (userInfo is null) Nav.NavigateTo("/Account/Login");

            ticket = await TicketService.GetTicketByIdAsync(Id, userInfo!.CompanyId);

            projectManager = await ProjectService.GetProjectManagerAsync(ticket!.ProjectId, userInfo!.CompanyId);

            if (!(userInfo.Roles.Contains("Admin") || userInfo?.UserId == projectManager?.Id || userInfo?.UserId == ticket?.SubmitterUserId || userInfo?.UserId == ticket?.DeveloperUserId))
            {
                Nav.NavigateTo("/tickets");
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    private async Task HandleSubmit(TicketDTO ticket)
    {
        try
        {
            await TicketService.UpdateTicketAsync(ticket, userInfo!.CompanyId, userInfo.UserId);

            Nav.NavigateTo($"/ticket/{ticket.Id}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    #endregion

}
